.button {
	cursor: pointer;

	&--close {
		-webkit-appearance: none;
	    background: transparent;
	    border: none;
	    font-size: 0;
	    width: 40px;
	    height: 40px;
		
		&::before, &::after {
		    content: '';
		    position: absolute;
		    height: 2px;
		    width: 100%;
		    top: 50%;
		    left: 0;
		    margin-top: -1px;
		    background: $white;
		}
		
		&::before {
			transform: rotate(45deg);
		}
		
		&::after {
			transform: rotate(-45deg);
		}

		&:hover {
			&::before, &::after {
				background: $action-color;
			}
		}
	}

	&--prev,
	&--next {
		-webkit-appearance: none;
	    background: transparent;
	    border: none;
	    font-size: 0;
	    width: 50px;
	    height: 50px;
	    text-align: center;
	    margin: 30px;
	    pointer-events: none;

		&::before {
			font-size: 40px;
			border-style: solid;
			border-width: 0.1em 0.1em 0 0;
			border-color: rgba($white, 0.1);
			content: '';
			display: inline-block;
			position: relative;
			width: 40px;
			height: 40px;
		}

		&.is-active {
			pointer-events: all;

			&::before {
				border-color: $white;
			}
		}

		&:hover::before {
			cursor: pointer;
			border-color: $action-color;
		}
	}

	&--prev {
		transform: rotate(-135deg);
	}

	&--next {
		transform: rotate(45deg);
	}
}